@using Errordite.Web.Extensions
@using Errordite.Web.Models.Subscription
@model PaymentPlanViewModel
           
<div class="three-col">
    <div class="payment-plan">
        <h2>@Model.Plan.Name<span>$@Model.Plan.Price.ToString("0") / Month</span></h2>
        <ul>
	        <li>
		        <h4>Issues<span>@Model.Plan.MaximumIssues</span></h4>
	        </li>
	        <li>
		        <h4>Users<span>@Model.Plan.MaximumUsers</span></h4>
	        </li>
	        <li>
		        <h4>Applications<span>@Model.Plan.MaximumApplications</span></h4>
	        </li>
	        <li>
		        <h4>Data Retention<span>Indefinately</span></h4>
	        </li>
        </ul>
		@if (Model.Status == PaymentPlanStatus.SubscriptionSignUp)
		{
			<div>
				<a href="@Model.SignUpUrl">Sign up to the '@Model.Plan.Name' Plan ›</a>
			</div>
		}
		else if (Model.Status == PaymentPlanStatus.FirstSignUp)
		{
			<div>
				<a href="@Url.SignUp()">Sign Up Now ›</a>
			</div>
		}
    </div>
</div>