@using Errordite.Web.Extensions
@using Errordite.Web.Models.Docs
@model DocsTab
         
<div class="tabs-container">
    <ul class="tabs">
        <li @(Model == DocsTab.QuickStart ? " class=active" : " class=inactive") >
            <a href="@Url.QuickStart()">Quick Start</a>
        </li>
        <li @(Model == DocsTab.About ? " class=active" : " class=inactive") >
            <a href="@Url.About()">About</a>
        </li>

        <li @(Model == DocsTab.Pricing ? " class=active" : " class=inactive") >
            <a href="@Url.Pricing()">Pricing & Plans</a>
        </li>
        <li @(Model == DocsTab.Clients ? " class=active" : " class=inactive") >
            <a href="@Url.Clients()">Clients</a>
        </li>
    </ul>
</div>