@using CodeTrip.Core.Extensions
@using Errordite.Core.Extensions
@using Errordite.Web.Extensions
@model Errordite.Web.Models.Errors.ErrorInstanceViewModel

<div class="dashboard-item error">
	<div class="info-bar">&nbsp;</div>	
	<div class="info-content">
		<div class="info-item-heading full">
			Name
		</div>
		<div class="info-item full" style="margin-bottom:5px;">
			<a href="@Url.Error(Model.Error.FriendlyId)">@Model.Error.ExceptionInfo.Type</a>
		</div>
		<div class="info-item-heading">
			Application
		</div>
        <div class="info-item-heading divider">
			Received On
		</div>
        <div class="info-item-heading divider short">
			Issue
		</div>
		<div class="info-item">
			@Model.ApplicationName
		</div>
		<div class="info-item divider">
		    @Model.Error.TimestampUtc.ToLocalTimeFormatted()
		</div>
		<div class="info-item divider short">
			<a href="@Url.Issue(Model.Error.IssueId)">#@Model.Error.IssueId.GetFriendlyId()</a>
		</div>
	</div>
</div>
        