@using Errordite.Core.Extensions
@using Errordite.Web.Extensions
@model Errordite.Web.Models.Errors.ErrorInstanceViewModel

<div class="boxed-item error" style="display:none">
	<div class="item-bar">&nbsp;</div>	
	<div class="item-content">
		<div class="item-info heading full">
			Exception Type
		</div>
		<div class="item-info full" style="margin-bottom:5px;">
			<a href="@Url.Issue(Model.Error.IssueId)" data-title="@Model.Error.ExceptionInfos.First().Type" @(Model.Error.ExceptionInfos.First().Type.Length > 60 ? "class=tool-tip" : "")>@(@Model.Error.ExceptionInfos.First().Type.Length > 60 ?@Model.Error.ExceptionInfos.First().Type.Substring(0, 60) + "..." : @Model.Error.ExceptionInfos.First().Type)</a>
		</div>
		<div class="item-info heading">
			Application
		</div>
        <div class="item-info heading divider">
			Received
		</div>
        <div class="item-info heading divider short">
			Issue
		</div>
		<div class="item-info">
			@Model.ApplicationName
		</div>
		<div class="item-info divider">
		    @Model.Error.TimestampUtc.ToLocalTimeFormatted()
		</div>
		<div class="item-info divider short">
			<a href="@Url.Issue(Model.Error.IssueId)">#@Model.Error.IssueId.GetFriendlyId()</a>
		</div>
	</div>
</div>
        