@using Errordite.Web.Extensions
@model Errordite.Web.Models.Issues.IssueItemViewModel

<div class="dashboard-item issue">
	<div class="info-bar">&nbsp;</div>	
	<div class="info-content">
		<div class="info-item-heading full">
			Name
		</div>
		<div class="info-item full" style="margin-bottom:5px;">
			<a href="@Url.Issue(Model.IssueId)">@Model.Name</a>
		</div>
		<div class="info-item-heading">
			Status
		</div>
        <div class="info-item-heading divider">
			Assigned To
		</div>
        <div class="info-item-heading divider short">
			Count
		</div>
		<div class="info-item">
		    @Model.Status
		</div>
		<div class="info-item divider">
		    @Model.UserName
		</div>
		<div class="info-item divider short">
			@Model.ErrorCount
		</div>
	</div>
</div>
        