@using Errordite.Web.Extensions
@model Errordite.Web.Models.Issues.IssueItemViewModel

<tr>
	<td>
		<a class="word-break" href="@Url.Issue(Model.IssueId)">@Model.Name</a><br />
		<span class="table-info">@Model.Status</span>
	</td>
	<td>@Model.LastError</td>
	<td><span class="badge badge-info">@Model.ErrorCount</span></td>
</tr>
        