@using Errordite.Core.Domain.Error
@using Errordite.Web.Extensions
@model Errordite.Core.Domain.Organisation.Statistics
           
<h2 class="subtitle">Quick Links</h2>
<div class="table">
    <div class="trow">
        <a href="@Url.AllIssues()">All Issues (@Model.Issues)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues()">All Active Issues (@Model.ActiveIssues)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.Unacknowledged)">Unacknowledged Issues (@Model.Unacknowledged)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.Acknowledged)">Acknowledged Issues (@Model.Acknowledged)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.AwaitingDeployment)">Awaiting Deployment Issues (@Model.AwaitingDeployment)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.Investigating)">Investigating Issues (@Model.Investigating)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.Ignorable)">Ignorable Issues (@Model.Ignorable)</a>
    </div>
    <div class="trow">
        <a href="@Url.Issues(IssueStatus.Solved)">Solved Issues (@Model.Solved)</a>
    </div>
    <div class="trow">
        <a href="@Url.MyIssues(ViewData.GetAppContext().CurrentUser.FriendlyId)">Issues Assigned to me (@Model.CurrentUserIssueCount)</a>
    </div>
    <div class="trow">
        <a href="@Url.Applications()">Applications (@Model.Applications)</a>
    </div>
    <div class="trow">
        <a href="@Url.Users()">Users (@Model.Users)</a>
    </div>
    <div class="trow">
        <a href="@Url.Groups()">Groups (@Model.Groups)</a>
    </div>
</div>
