@using Errordite.Core.Domain.Error
@using Errordite.Web.Extensions
@model Errordite.Core.Domain.Organisation.Statistics

<div class="quicklinks">
	@*<h2 class="section-header" style="color:#7F7F7F"><i class="icon-link"></i>Quick Links</h2>*@

	<div class="four-col home-links">
		<span><a href="@Url.AllIssues()">All Issues</a> (@Model.Issues)</span>
		<span><a href="@Url.Issues()">All Active Issues</a> (@Model.ActiveIssues)</span>
		<span><a href="@Url.Issues(IssueStatus.Unacknowledged)">Unacknowledged Issues</a> (@Model.Unacknowledged)</span>
	</div>
	<div class="four-col home-links">
		<span><a href="@Url.Issues(IssueStatus.Acknowledged)">Acknowledged Issues</a> (@Model.Acknowledged)</span>
		<span><a href="@Url.Issues(IssueStatus.AwaitingDeployment)">Awaiting Deployment Issues</a> (@Model.AwaitingDeployment)</span>
		<span><a href="@Url.Issues(IssueStatus.Investigating)">Investigating Issues</a> (@Model.Investigating)</span>
	</div>
	<div class="four-col home-links">
		<span><a href="@Url.Issues(IssueStatus.Ignorable)">Ignorable Issues</a> (@Model.Ignorable)</span>
		<span><a href="@Url.Issues(IssueStatus.Solved)">Solved Issues</a> (@Model.Solved)</span>
		<span><a href="@Url.MyIssues(ViewData.GetAppContext().CurrentUser.FriendlyId)">Issues Assigned to me</a> (@Model.CurrentUserIssueCount)</span>
	</div>
	<div class="four-col home-links last">
		<span><a href="@Url.Applications()">Applications</a> (@Model.Applications)</span>
		<span><a href="@Url.Users()">Users</a> (@Model.Users)</span>
		<span><a href="@Url.Groups()">Groups</a> (@Model.Groups)</span>
	</div>
</div>
