@using Errordite.Web.Models.Dashboard
@model DashboardTab
         
<div class="border"></div>
@*  
<ul class="nav nav-tabs">
	<li @(Model == DashboardTab.Home ? " class=active" : " class=inactive") >
        <a href="@Url.Dashboard()"><span>Dashboard</span></a> 
    </li>
    <li @(Model == DashboardTab.Issues ? " class=active" : " class=inactive") >
        <a href="@Url.Issues()"><span>Issues</span></a>
    </li>
    @* <li @(Model == DashboardTab.Errors ? " class=active" : " class=inactive") >
        <a href="@Url.Errors()"><span>Errors</span></a>
    </li>
    <li @(Model == DashboardTab.Audit ? " class=active" : " class=inactive") >
        <a href="@Url.Audit()"><span>Audit</span></a>
    </li>
</ul>*@