
@using Errordite.Web.Extensions
@model Errordite.Web.Models.Search.SearchViewModel
           
@{
    ViewBag.Title = "Search";
}

<section id="search" class="centered">
    <div class="content">
        <h3>Your search for "@Model.Query" returned the following results...</h3>
        <div class="two-col">
	        <h2 class="section-header" style="margin-bottom:0">Issues</h2>
	        <span class="search-status">viewing 1 - @Model.Issues.Count() of @Model.IssueTotal issues
			@if (Model.Issues.Count() < Model.IssueTotal)
			{
				@:(<a href='@Url.IssueSearch(Model.Query)'>view all</a>)
			}
	        </span>
            @if(Model.IssueTotal > 0)
            {
	            <table class="table table-condensed history">
					<thead>
						<tr>
							<th style="width:300px">Name</th>
							<th>Last Error</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var issue in Model.Issues)
						{
							@Html.Partial("Dashboard/Issue", issue)
						}
					</tbody>
				</table>
            }
            else
            {
                <div class="search-status">
                    No issues found
                </div>
            }
        </div>
        <div class="two-col" style="margin-left:10px; width:48%">
	        <h2 class="section-header" style="margin-bottom:0">Errors</h2>
	        <span class="search-status">viewing 1 - @Model.Errors.Count() of @Model.ErrorTotal errors
			@if (Model.Errors.Count() < Model.ErrorTotal)
			{
				@:(<a href='@Url.ErrorSearch(Model.Query)'>view all</a>)
			}
	        </span>
            @if(Model.ErrorTotal > 0)
            {
	            <table class="table table-condensed history">
					<thead>
						<tr>
							<th style="width:310px">Name</th>
							<th>Received On</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var error in Model.Errors)
						{
							@Html.Partial("Dashboard/Error", error)
						}	
					</tbody>
				</table>
                
            }
            else
            {
                <div class="search-status">
                    No errors found
                </div>
            }
        </div>
        <div class="clear"></div>
    </div>
</section>


