@using Errordite.Web.Extensions
@using Errordite.Web.Models.Dashboard
@using Errordite.Web.Models.Issues
@model MergeIssuesViewModel

@{
    ViewBag.Title = "Merge Issues";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Merge Issues</h1>
    </div>
    @Html.Partial("Dashboard/Tabs", DashboardTab.Issues)
}

<div class="colfull">
    <p>The two issues below have the same rules, you can merge the two issues together, keeping one and discarding the other.</p>
</div>
<div class="clear-space"></div>
<div class="base left-wide">
    <h2>Merge Issue 1</h2>
    <div class="base-content">
        <strong>Name</strong>: <a href="@Url.Issue(Model.LeftIssueId)" target="_blank">@Model.LeftIssueName</a><br />
        <strong>MatchPriority</strong>: @Model.LeftIssuePriority<br />
        <strong>Status</strong>: @Model.LeftIssueStatus<br /><br />
            
        @using (Html.BeginForm("merge", "issues", FormMethod.Post, new { id = "leftMerge" }))
        {
            @Html.Hidden("MergeFromId", Model.RightIssueId)
            @Html.Hidden("MergeToId", Model.LeftIssueId)
            <input class="btn btn-success" type="submit" value="Merge Keeping This Issue" />
        }
    </div>
</div>
<div class="clear-space"></div>
<div class="clear-space"></div>
<div class="clear-space"></div>
<div class="base left-wide">
    <h2>Merge Issue 2</h2>
    <div class="base-content">
        <strong>Name</strong>: <a href="@Url.Issue(Model.RightIssueId)" target="_blank">@Model.RightIssueName</a><br />
        <strong>Match Priority</strong>: @Model.RightIssuePriority<br />
        <strong>Status</strong>: @Model.RightIssueStatus<br /><br />
            
        @using (Html.BeginForm("merge", "issues", FormMethod.Post, new { id = "rightMerge" }))
        {
            @Html.Hidden("MergeFromId", Model.LeftIssueId)
            @Html.Hidden("MergeToId", Model.RightIssueId)
            <input class="btn btn-success" type="submit" value="Merge Keeping This Issue" />
        }
    </div>
</div>