@using Errordite.Web.Extensions
@using Errordite.Web.Models.Dashboard
@using Errordite.Web.Models.Issues
@model MergeIssuesViewModel

@{
    ViewBag.Title = "Merge Issues";
}

@section header
{
    @Html.Partial("Dashboard/Tabs", DashboardTab.Issues)
}

<section class="centered">
    <div class="content">
        <h1 class="section-header border">Merge Issues</h1>
        <p>The two issues below have the same rules, you can merge the two issues together, keeping one and discarding the other.</p>
        <div class="form double">
            <h2>Merge Issue 1</h2>
            <strong>Name</strong>: <a href="@Url.Issue(Model.LeftIssueId)" target="_blank">@Model.LeftIssueName</a><br />
            <strong>Status</strong>: @Model.LeftIssueStatus<br /><br />
            
            @using (Html.BeginForm("merge", "issues", FormMethod.Post, new { id = "leftMerge" }))
            {
                @Html.Hidden("MergeFromId", Model.RightIssueId)
                @Html.Hidden("MergeToId", Model.LeftIssueId)
                <input class="btn btn-medium btn-blue" type="submit" value="Merge Keeping This Issue" />
            }
        </div>
        <div class="form double">
            <h2>Merge Issue 2</h2>
            <strong>Name</strong>: <a href="@Url.Issue(Model.RightIssueId)" target="_blank">@Model.RightIssueName</a><br />
            <strong>Status</strong>: @Model.RightIssueStatus<br /><br />
            
            @using (Html.BeginForm("merge", "issues", FormMethod.Post, new { id = "rightMerge" }))
            {
                @Html.Hidden("MergeFromId", Model.LeftIssueId)
                @Html.Hidden("MergeToId", Model.RightIssueId)
                <input class="btn btn-medium btn-blue" type="submit" value="Merge Keeping This Issue" />
            }
        </div>
    </div>
</section>