@using Errordite.Web.Extensions
@using Errordite.Web.Models.Applications
@model AddApplicationViewModel
           
@{
    ViewBag.Title = "Add Application";
}

@section header
{
    @Html.Partial("Admin/Tabs")
}

<section class="centered">
    <div class="content">
        @using (Html.BeginForm("add", "applications", FormMethod.Post, new { id = "addapplicationForm" }))
        {
            @Html.HiddenFor(m => m.MatchRuleFactoryId)
            <h1>Add application</h1>
            <div class="form double push-up">
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Name, "Name")
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.UserId, "Default assigned user")
                        @Html.DropDownListFor(m => m.UserId, Model.Users)
                        <i data-title="Who will the default assignee be for issues created within this application?" class="icon-info"></i>
                        @Html.ValidationMessageFor(m => m.UserId)
                    </li>
                    <li class="sublist">
                        @Html.LabelFor(m => m.NotificationGroups, "Send notifications to these groups")
                        <ul>
                            @Html.EditorFor(m => m.NotificationGroups)
                        </ul>
                    </li>
                    <li class="inline">
                        @Html.CheckBoxFor(m => m.Active) 
                        @Html.LabelFor(m => m.Active, "Activate application")
                        <i data-title="Only active applications will receive errors and have issues created." class="icon-info"></i>
                    </li>
                    <li>
                        <input type="submit" class="btn btn-medium btn-blue" value="Add" />
                    </li>
                </ul>
            </div>
            <div class="form double push-up">
                <ul>
                    <li>
                        @Html.LabelFor(m => m.HipChatRoomId, "HipChat room number")
                        @Html.TextBoxFor(m => m.HipChatRoomId)
                        <i data-title="Tell us the HipChat room number you want notifications for this application to go to." class="icon-info"></i>
                        @Html.ValidationMessageFor(m => m.HipChatRoomId)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.HipChatAuthToken, "HipChat auth token")
                        @Html.TextBoxFor(m => m.HipChatAuthToken)
                        <i data-title="We need your HipChat auth token to allow us to post to your room." class="icon-info"></i>
                        @Html.ValidationMessageFor(m => m.HipChatAuthToken)
                    </li>
                </ul>
            </div>
        }
    </div>
</section>