@using Errordite.Web.Extensions
@using Errordite.Web.Models.Applications
@using Errordite.Web.Models.Organisation
@model EditApplicationViewModel
           
@{
    ViewBag.Title = "Edit Application";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Applications</h1>
    </div>
    @Html.Partial("Admin/Tabs")
}

@using (Html.BeginForm("edit", "applications", FormMethod.Post, new { id = "editapplicationForm" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="base left-extra-wide">
        <h1>Edit an application</h1>
        <div class="base-content">
            <div class="left">
                <h3>Application Settings</h3>
                <ul class="errorditeform">
                    <li>
                        @Html.LabelFor(m => m.Name, "Name")
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.UserId, "Default Assigned User")
                        @Html.DropDownListFor(m => m.UserId, Model.Users)
                        <i rel="tooltip" title="Who will the default assignee be for issues creataed within this application?" class="icon-info-sign"></i>
                        @Html.ValidationMessageFor(m => m.UserId)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.MatchRuleFactoryId, "Group Errors By")
                        @Html.DropDownListFor(m => m.MatchRuleFactoryId, Model.ErrorConfigurations)
                        <i rel="tooltip" title="This defines the default method by which Errordite groups exceptions." class="icon-info-sign"></i>
                        @Html.ValidationMessageFor(m => m.MatchRuleFactoryId)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Token, "Token")
                        @Html.TextBoxFor(m => m.Token, new { disabled = "disabled" })
                        <i rel="tooltip" title="You need to specify this token in your client configuration for errors to be received into this application." class="icon-info-sign"></i>
                    </li>
                    <li class="cbox">
                        @Html.CheckBoxFor(m => m.IsActive) @Html.LabelFor(m => m.IsActive, "Activate application")
                        <i rel="tooltip" title="Only active applications will receive errors and have issues created." class="icon-info-sign"></i>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="content custom-select-overflow">
                    <h3>Notification Settings</h3>
                    <ul class="errorditeform">
                        <li>
                            @Html.LabelFor(m => m.HipChatRoomId, "HipChat Room Number")
                            @Html.TextBoxFor(m => m.HipChatRoomId)
                            <i rel="tooltip" title="Tell us the HipChat room number you want notifications for this application to go to." class="icon-info-sign"></i>
                            @Html.ValidationMessageFor(m => m.HipChatRoomId)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.HipChatAuthToken, "HipChat Auth Token")
                            @Html.TextBoxFor(m => m.HipChatAuthToken)
                            <i rel="tooltip" title="We need your HipChat auth token to allow us to post to your room." class="icon-info-sign"></i>
                            @Html.ValidationMessageFor(m => m.HipChatAuthToken)
                        </li>
                        @Html.EditorFor(m => m.Notifications)
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="colfull buttons">
        <input type="submit" class="btn btn-success" value="Save Changes" />
        <a class="btn" href="@Url.Applications()" >Cancel</a>
    </div>
}
