        
@{
    ViewBag.Title = "Admin";
}

<section class="centered">
    <h2>Delete Application Errors</h2>
    <div class="form"> 
        @using (Html.BeginForm("deleteapplicationerrors", "system", FormMethod.Post, new { id = "delAppErrorsForm" }))
        {
            <ul>
                <li>
                    @Html.Label("Application Id")
                    @Html.TextBox("applicationId")
                </li>
                <li>
                    <input type="submit" class="btn btn-medium btn-blue" value="Delete" />
                </li>
            </ul>
        }
    </div>
    <h2>Rebuild Indexes</h2>
    <div class="form"> 
        @using (Html.BeginForm("rebuildindex", "system", FormMethod.Post, new { id = "rebuidIndexForm" }))
        {
            <ul>
                <li>
                    @Html.Label("Index Name")
                    @Html.TextBox("indexName")
                </li>
                <li>
                    <input type="submit" class="btn btn-medium btn-blue" value="Rebuild" />
                </li>
            </ul>
        }
    </div>
    <h2>Purge Errordite Errors</h2>
    <div class="form"> 
        @using (Html.BeginForm("purgeerrorditeerrors", "system", FormMethod.Post, new { id = "purgeErrors" }))
        {
            <ul>
                <li>
                    @Html.Label("All Errors Before Date (yyyy-mm-dd hh:mm:ss)")
                    @Html.TextBox("fromDate")
                </li>
                <li>
                    <input type="submit" class="btn btn-medium btn-blue" value="Purge" />
                </li>
            </ul>
        }
    </div>
</section>  