@using Errordite.Web.Extensions
@model Errordite.Web.Models.Users.UsersViewModel
           
<table class="table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>  
            <th>Groups</th>      
            <th>Status</th> 
            @if(Model.EnableImpersonation)
            {
                <th>Impersonate</th>      
            }   
            else
            {
                <th>Edit</th>
                <th>Delete</th>
            }
        </tr>  
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            using (Html.BeginForm("delete", "users", new { userId = user.Id }, FormMethod.Post))
            {
                <tr>  
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@user.Groups</td>
                    <td>@user.Status</td>
                    
                    @if (Model.EnableImpersonation)
                    {
                        <td>
                            <a href="@Url.Impersonate(user.Id, Model.OrganisationId)">Impersonate</a>
                        </td>  
                    }
                    else
                    {
                        <td>
                            <a href="@Url.EditUser(user.Id)">Edit</a>
                        </td>             
                        <td>
                            <a class="delete" href="#">Delete</a>
                        </td>  
                    }        
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td @(Model.EnableImpersonation ? "colspan=6" : "colspan=7") >
                @Html.Partial("Pagination", Model.Paging)
            </td>
        </tr>
    </tfoot>
</table>