@using Errordite.Web.Extensions
@using Errordite.Core.Domain.Organisation
@model PaymentPlan
           
<div class="base left-slim payment-plan">
    <h2>@Model.Name<span>$@Model.Price.ToString("0") / Month</span></h2>
    <div class="base-content">
        <ul>
            <li>@Model.MaximumIssues Issues</li>
            <li>@Model.MaximumUsers User@(Model.MaximumUsers == 1 ? "": "s")</li>
            <li>@Model.MaximumApplications Application@(Model.MaximumApplications == 1 ? "": "s")</li>
        </ul>
        <a class="btn btn-success" href="@Url.SignUp()">Sign Up Now</a>
    </div>
</div>