@using Errordite.Web.Extensions
@using Errordite.Web.Models.Help
@model HelpTab
        
<div class="clear"></div>   
<div class="nav-centered">
    <ul class="nav nav-tabs">
        <li @(Model == HelpTab.WhatIsIt ? " class=active" : " class=inactive") >
            <a href="@Url.WhatIsErrordite()"><span>What is it?</span></a>
        </li>
        <li @(Model == HelpTab.GettingStarted ? " class=active" : " class=inactive") >
            <a href="@Url.GettingStarted()"><span>Getting Started</span></a>
        </li>
        @*<li @(Model == HelpTab.Pricing ? " class=active" : " class=inactive") >
            <a href="@Url.Pricing()"><span>Pricing</span></a>
        </li>*@
        @*<li @(Model == HelpTab.Faq ? " class=active" : " class=inactive") >
            <a href="@Url.Faq()"><span>FAQ</span></a>
        </li>*@
        <li @(Model == HelpTab.Client ? " class=active" : " class=inactive") >
            <a href="@Url.Client()"><span>Client Help</span></a>
        </li>
        <li @(Model == HelpTab.Features ? " class=active" : " class=inactive") >
            <a href="@Url.Features()"><span>Features</span></a>
        </li>
    </ul>
</div>