
@using Errordite.Web.Extensions
@using Errordite.Web.Models.Account
@using Errordite.Core.Extensions
@model Errordite.Web.Models.Subscription.SubscriptionViewModel
           
@{
	ViewBag.Title = "Your Subscription";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
         <div class="sidenav">
        @Html.Partial("Subscription/SubscriptionTabs", SubscriptionTab.Subscription)
            <div class="sidenav-content billing">
                <div class="sidenav-tab active">
                
                    @if (!Model.Organisation.PaymentPlan.IsTrial)
                    {
                        <h2>Subscription Info</h2>
                        <table class="table table-condensed">
                            <tr>
                                <td style="width:175px"><b>Plan</b></td>
                                <td>@Model.Organisation.PaymentPlan.Name</td>
                            </tr>
                            @if (Model.Organisation.Subscription.ChargifyId > 0)
                            {
                                <tr>
                                    <td style="width:175px"><b>Subscription Id</b></td>
                                    <td>@Model.Organisation.Subscription.ChargifyId</td>
                                </tr>
                            }
                            @if (Model.Organisation.Subscription.StartDate.HasValue)
                            {
                                <tr>
                                    <td style="width:175px"><b>Subscription Start Date</b></td>
                                    <td>@Model.Organisation.Subscription.StartDate.Value.ToLocalTimeFormatted()</td>
                                </tr>
                            }
                        </table>
                        <h2>Upgrade / Downgrade</h2>
                    }
                
                    <p>
                        Our plans are detailed below, indicating which you are currently subscribed to, you can upgrade or downgrade from here at any time. 
                        If you feel your needs would not be met by the plans or prices below, please <a href="@Url.Contact()">contact us</a>.
                    </p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Monthly Cost (USD)</th>
                                <th>Users</th>
                                <th>Applications</th>
                                <th>Issues</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var plan in Model.Plans)
                            {
                                <tr @(plan.CurrentPlan ? "class=current-plan" : "")>
                                    <td>@plan.Plan.Name</td>
                                    <td>
                                        @(plan.Plan.IsTrial ? "-" : string.Format("${0:0}", plan.Plan.Price))
                                    </td>
                                    <td>@(plan.Plan.MaximumUsers.ToString())</td>
                                    <td>@(plan.Plan.MaximumApplications.ToString())</td>
                                    <td>@(plan.Plan.MaximumIssues.ToString())</td>
                                    <td>
                                        @if(plan.Upgrade)
                                        {
                                            <a href="@Url.ChangeSubscription(plan.Plan.Name)">Upgrade</a>
                                        } 
                                        else if (plan.Downgrade)
                                        {
                                            <a href="@Url.ChangeSubscription(plan.Plan.Name)">Downgrade</a>
                                        }
                                        else if (plan.SignUp)
                                        {
                                            <a href="@Url.SignUpNotExpired()">Sign Up</a>
                                        }
                                        @if(plan.CurrentPlan)
                                        {
                                            <span>Current Plan</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</section>


