
@using Errordite.Core.Domain.Organisation
@using Errordite.Web.Extensions
@using Errordite.Core.Extensions
@using Errordite.Web.Models.Subscription
@model SubscriptionViewModel
           
@{
	ViewBag.Title = "Your Subscription";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
         <div class="sidenav">
        @Html.Partial("Subscription/SubscriptionTabs", SubscriptionTab.Subscription)
            <div class="sidenav-content">
                <div class="sidenav-tab active">
                
                    @if (!Model.Organisation.PaymentPlan.IsFreeTier)
                    {
                        <h2>Subscription Info</h2>
                        <table class="table table-condensed">
	                        <tr>
		                        <td style="width:225px"><b>Plan</b></td>
		                        <td>@Model.Organisation.PaymentPlan.Name</td>
	                        </tr>
							@if (Model.Organisation.Subscription.Status == SubscriptionStatus.Cancelled)
							{
								<tr>
									<td style="width:225px"><b>Status</b></td>
									<td>Cancelled</td>
								</tr>
								<tr>
									<td style="width:225px"><b>Cancelled On</b></td>
									<td>@Model.Organisation.Subscription.CancellationDate.Value.ToLocalFormatted()</td>
								</tr>
								<tr>
									<td style="width:225px"><b>Account Deactivated On</b></td>
									<td>@Model.Organisation.Subscription.CurrentPeriodEndDate.ToLocalFormatted()</td>
								</tr>
							}
							else
							{
								<tr>
									<td style="width:225px"><b>Status</b></td>
									<td>Active</td>
								</tr>
								<tr>
									<td style="width:225px"><b>Subscription Id</b></td>
									<td>@Model.Organisation.Subscription.ChargifyId.Value</td>
								</tr>
								<tr>
									<td style="width:225px"><b>Subscription Start Date</b></td>
									<td>@Model.Organisation.Subscription.StartDate.ToLocalFormatted()</td>
								</tr>
								<tr>
									<td style="width:225px"><b>Current Billing Period Ends</b></td>
									<td>@Model.Organisation.Subscription.CurrentPeriodEndDate.ToLocalFormatted()</td>
								</tr>
							}
							
                        </table>
                        <h2>Upgrade / Downgrade</h2>
                    }
                
                    <p>
                        Our plans are detailed below, indicating which you are currently subscribed to, you can upgrade or downgrade from here at any time. 
                        If you feel your needs would not be met by the plans or prices below, please <a href="@Url.Contact()">contact us</a>.
                    </p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Monthly Cost (USD)</th>
                                <th>Issues</th>
                                <th>Users</th>
                                <th>Applications</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var plan in Model.Plans)
                            {
                                <tr @(plan.CurrentPlan ? "class=current-plan" : "")>
                                    <td>@plan.Plan.Name</td>
                                    <td>
                                        @string.Format("${0:0}", plan.Plan.Price)
                                    </td>
                                    <td>@(plan.Plan.MaximumIssues == int.MaxValue ? "Unlimited" : plan.Plan.MaximumIssues.ToString())</td>
                                    <td>Unlimited</td>
                                    <td>@(plan.Plan.IsFreeTier ? "1" : "Unlimited")</td>
                                    <td>
                                        @if (plan.SignUp && !plan.CurrentPlan)
                                        {
											<a href="@Url.SubscriptionSignUp()">Sign Up</a>
                                        }
										else if (plan.Upgrade && !plan.CurrentPlan)
                                        {
                                            <a href="@Url.ChangeSubscription(plan.Plan.FriendlyId)">Upgrade</a>
                                        }
										else if (plan.Downgrade && !plan.CurrentPlan)
                                        {
                                            <a href="@Url.ChangeSubscription(plan.Plan.FriendlyId)">Downgrade</a>
                                        }
                                        @if(plan.CurrentPlan)
                                        {
                                            <span>Current Plan</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</section>


