
@using Errordite.Core.Extensions
@using Errordite.Web
@model Errordite.Web.Areas.System.Models.Monitoring.ServiceFailuresViewModel
           
<div id="results">
    @using (Html.BeginForm("deletemessages", "monitoring", FormMethod.Post, new { Area = WebConstants.AreaNames.System, id = "actionForm" }))
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th>Organisation Id</th>
                    <th>Service</th>
                    <th>Generated On</th>
                    <th>Error Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var envelope in Model.Envelopes)
                {
                    <tr>
                        <td><input type="checkbox" name="envelopes" value="@envelope.FriendlyId"/></td>
                        <td>@envelope.OrganisationId</td>
                        <td>@envelope.Service.ToString()</td>
                        <td>@envelope.GeneratedOnUtc.ToLocalTimeFormatted()</td>
                        <td>@envelope.ErrorMessage</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        @Html.Partial("Pagination", Model.Paging)
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>
