
@using Errordite.Web.Models.Help
@{
    ViewBag.Title = "Features";
}

<div class="span12">
    <div class="base">
        
        @Html.Partial("Help/Tabs", HelpTab.Features) 

        <div class="base-noheader">
            <div class="title">
                <h1 class="noborder">Errordite features</h1>
            </div>
            <table class="table table-condensed features">
                <tbody>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/rules.png")" alt="Intelligent Grouping" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Intelligent Grouping</h4>
                            <p>Errordite will automatically group your exceptions into issues, and allows you to set up custom rules to match incoming exceptions.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/applications.png")" alt="Multiple Applications" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Multiple applications</h4>
                            <p>Use Errordite to manage exceptions from multiple applications within your organisation.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/users.png")" alt="Manage users & groups" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Manage users & groups</h4>
                            <p>Errordite allows you to create groups and users to effectively manage your organisation.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/email.png")" alt="Intelligent Alerts" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Intelligent Alerts</h4>
                            <p>Lets face it, you don't want an email every time an error occures in your application, Errordite puts you in control of alerting.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/history.png")" alt="Issue history" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Issue history</h4>
                            <p>Errordite tracks the history of an issue, and allows you to add your own information / messages to the issue history.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/reports.png")" alt="Reporting" /> </div>
                        </td>
                        <td class="blurb">
                            <h4>Reporting</h4>
                            <p>Time distributed view of when errors have been occuring over the course of a day.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/sanitise.png")" alt="Filter Sensitive Data" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Filter Sensitive Data</h4>
                            <p>Configure the Errordite client to filter out sensitive data before sending to Errordite.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/data-collectors.png")" alt="Custom Data Collectors" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Custom data collectors</h4>
                            <p>Plugin your own custom data collectors to send the data you want with your exceptions.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/hipchat.png")" alt="Hipchat notifications" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Hipchat notifications</h4>
                            <p>New issues appear immediately in your Hipchat room, just tell us the room id and auth token.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/godaddy-ssl.png")" alt="Secure by Default" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Secure by default</h4>
                            <p>All data you send to Errordite is transmitted over SSL.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="img">
                            <div><img width="190" height="140" src="@Url.Content("~/images/ui/microsoft.net.png")" alt="Microsoft .NET" /></div>
                        </td>
                        <td class="blurb">
                            <h4>Supports all .NET applications</h4>
                            <p>The Errordite Client has support for all .NET application types, including ASP.NET Webforms, MVC 1, 2 & 3, Windows Services, Console Applications WPF etc.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>