@using Errordite.Web.Models.Help
@using Errordite.Web.Extensions
@{
    ViewBag.Title = "Getting Started";
}

<div class="span12">
    <div class="base">
        @Html.Partial("Help/Tabs", HelpTab.GettingStarted) 

        <div class="base-noheader help">
            <div class="title">
                <h1>Quick start quide</h1>
            </div>
            <p>Getting started with Errordite couldn't be simpler. Once you have <a href="@Url.SignUp()">signed up</a> follow the steps below to start using Errordite in your applications.</p>
            <h3>1. Create an application.</h3>
            <p>
                Before Errordite can begin receiving your errors errors, you must <a href="@Url.AddApplication()">create an application</a>. Once created, you need to know its token - you will find this
                on your <a href="@Url.Applications()">applications</a> page.
            </p>
            <p>
                Your application token must be added to the Errordite configuration section of your application as in step 2.
            </p>
            <h3>2. Install and configure the client.</h3>
            <p>
                The <strong>Errordite client</strong> is an open source, lightweight .NET library, hosted on CodePlex. You can download the latest stable build <a href="@Url.ClientDownload()">here</a>.
                If you prefer you can access the Mercurial repository <a href="@Url.ClientSource()">here</a>.
                The <a href="@Url.Client()">client help</a> section contains additional information on how to set the client up correctly for any .NET application type.
                The code below shows the minimum required configuration for the client; for advanced configuration options please see the <a href="@Url.Client()">client help</a> section. 
            </p>
            <pre class="xml">
<span class="tag">&lt;errordite</span>
    <span class="att">token=</span><span class="atv">"**your token here**"</span>
    <span class="att">enabled=</span><span class="atv">"true"</span>
    <span class="att">endpoint=</span><span class="atv">"https://www.errordite.com/receiveerror"</span><span class="tag"> /&gt;</span>
            </pre>
            
            <p>
                The easiest way to get the client is to install it from our NuGet package, find it on the NuGet gallery <a href="">here</a>.
            </p>
            <h3>3. Manage your errors through Errordite.</h3>
            <p>
                Once your application starts generating errors you will receive notifications of issues being created in Errordite.
            </p>
            <p>
                For an overview of how Errordite works and how you can use it to help you manage your errors, see the <a href="">guide to Errordite</a> help page.
            </p>
        </div>
    </div>
</div>