
@using Errordite.Core.Extensions
@model Errordite.Web.Models.Errors.ExceptionViewModel
           
<div class="info" @(Model.DisplayInfoTable() ? string.Empty : "style=display:none")>
	<table class="table table-bordered table-condensed">
		@if (Model.Info.Type.IsNotNullOrEmpty())
		{
			<tr>
				<td>Exception Type</td>
				<td class="word-break" data-error-attr="Type">@Model.Info.Type</td>
			</tr>
		}
		@if (Model.Info.Message.IsNotNullOrEmpty())
		{
			<tr>
				<td>Message</td>
				<td class="word-break" data-error-attr="Message">@Model.Info.Message</td>
			</tr>
		}
		@if(Model.Info.MethodName.IsNotNullOrEmpty())
		{
			<tr>
				<td>Method</td>
				<td class="word-break" data-error-attr="MethodName">@Model.Info.MethodName</td>
			</tr>
		}
		@if (Model.Info.Module.IsNotNullOrEmpty())
		{
			<tr>
				<td>Module</td>
				<td class="word-break" data-error-attr="Module">@Model.Info.Module</td>
			</tr>
		}
		@if (!Model.InnerException)
		{
			if (Model.Error.Url.IsNotNullOrEmpty())
			{
				<tr>
					<td>Url</td>
					<td class="word-break" data-error-attr="Url">@Model.Error.Url</td>
				</tr>
			}
			if (Model.Error.UserAgent.IsNotNullOrEmpty())
			{
				<tr>
					<td>User Agent</td>
					<td class="word-break" data-error-attr="UserAgent">@Model.Error.UserAgent</td>
				</tr>
			}
			if (Model.Error.MachineName.IsNotNullOrEmpty())
			{
				<tr>
					<td>Machine Name</td>
					<td class="word-break" data-error-attr="MachineName">@Model.Error.MachineName</td>
				</tr>   
			}  
		
			foreach (var kvp in Model.Error.ContextData)
			{
				<tr>
					<td class="nobreak" >@kvp.Key</td>
					<td class="word-break" data-error-attr="@kvp.Key">@kvp.Value</td>
				</tr>
			}
		}
        
		@if (Model.Info.ExtraData != null)
		{
			foreach (var kvp in Model.Info.ExtraData)
			{
				<tr>
					<td class="nobreak" >@kvp.Key</td>
					<td class="word-break" data-error-attr="@kvp.Key">@kvp.Value</td>
				</tr>
			}
		}
	</table>
</div>
<div class="stacktrace-area">
	<pre>
		<div data-error-attr="StackTrace" class="stacktrace">@Model.Info.StackTrace</div>
	</pre>
</div> 