@using Errordite.Web.Extensions
@using Errordite.Web.Models.Errors
@model ErrorCriteriaViewModel

@using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Get, new { id = "errorsForm"}))
{
    @Html.HiddenFor(m => m.IssueId)
    <input type="hidden" name="pgst" value="@Model.Sort" id="pgst"/>
    <input type="hidden" name="pgsd" value="@Model.SortDescending" id="pgsd"/>

    if (Model.Controller == "issue")
    {
        @Html.HiddenFor(m => m.ApplicationId)
        @Html.Hidden("tab", "errors")
    }  

    <div class="form" style="margin-bottom: 5px;">
        @Html.TextBoxFor(m => m.Query, new { autocomplete = "off", placeholder = "Search your errors", style="float:left"})

        @if (Model.Controller != "issue")
        {
            @Html.DropDownListFor(m => m.ApplicationId, Model.Applications, null, new {style="float:left"})
        }
        
        <div id="daterange" class="daterange" style="margin:0 0 0 5px">
            @Html.HiddenFor(m => m.StartDate)
            <i class="icon-calendar"></i>
            <span>Select Date Range</span>
            <b class="caret"></b>
        </div>
        
        <input type="submit" class="btn btn-small btn-blue" value="Apply" />
        <a class="btn btn-small btn-lightblue" href="@Url.ClearErrors(Model.ApplicationId, Model.IssueId)">Clear</a>
       
    </div>
}

<div class="clear"></div>

@Html.Partial("Errors/ErrorItems", Model)
