@using Errordite.Web.Models.Issues
@using ProductionProfiler.Core.Extensions
@model IssueDetailsViewModel

<div class="form double narrow">
	<h2 class="section-header border"><i class="icon-files"></i>Issue Details</h2>
	@using (Html.BeginForm("adjustdetails", "issue", FormMethod.Post, new { id = "adjustDetails" }))
	{
		 @Html.HiddenFor(m => m.IssueId)
		<ul>
			<li>
				@Html.LabelFor(m => m.Name, "Issue Name")
				@Html.TextBoxFor(m => m.Name)
				<i data-title="Give this issue a more meaningful name to help identify and search for it." class="icon-info"></i>
				@Html.ValidationMessageFor(m => m.Name)
			</li>
			<li>
				@Html.LabelFor(m => m.UserId, "Assigned To")
				@Html.DropDownListFor(m => m.UserId, Model.Users)
				<i data-title="Optionally assign a user to this issue." class="icon-info"></i>
				@Html.ValidationMessageFor(m => m.UserId)
			</li>
			<li>
				@Html.LabelFor(m => m.Status, "Status")
				@Html.DropDownListFor(m => m.Status, Model.Statuses)
				<i data-title="Optionally assign a new status to the issue." class="icon-info"></i>
				@Html.ValidationMessageFor(m => m.Status)   
			</li>
			<li>
				<div>
					@Html.LabelFor(m => m.Reference, "External Reference (bug tracker etc)")
					<span id="reference-link"></span>
				</div>
				@Html.TextBoxFor(m => m.Reference)
				<i data-title="Add a reference to your bug tracking software or source control system, if appropriate" class="icon-info"></i>
			</li>
			<li class="inline">
				@Html.CheckBoxFor(m => m.AlwaysNotify)
				@Html.LabelFor(m => m.AlwaysNotify, "Always notify when errors occur")
				<i data-title="Check this box if you want to be notified whenever an instance of this issue is received (we will only notify you the first time this happens within any 12 hour period)." class="icon-info"></i>
				@Html.ValidationMessageFor(m => m.AlwaysNotify)
			</li>
			<li class="buttons">
				<input type="submit" class="btn btn-medium btn-blue" value="Update Details" />
			</li>
		</ul>
	}
</div>
@if(Model.SampleError != null)
{
	<div class="issue-error-info">
		<h2 class="section-header border"><i class="icon-file"></i>Sample Error Details</h2>
		<h3>Exception Type</h3>
		<p class="word-break">@Model.SampleError.ExceptionInfos.First().Type</p>
		<h3>Message</h3>
		<p class="word-break">@(Model.SampleError.ExceptionInfos.First().Message.IsNullOrEmpty() ? "No message" : Model.SampleError.ExceptionInfos.First().Message)</p>
		<h3>Machine</h3>
		<p>@Model.SampleError.MachineName</p>
		<h3>Method</h3>
		<p class="word-break">@Model.SampleError.ExceptionInfos.First().MethodName</p>
		<h3>Url</h3>
		<p class="word-break">@Model.SampleError.Url</p>
		<h3>User Agent</h3>
		<p class="word-break">@Model.SampleError.UserAgent</p>
	</div>
	}