@using CodeTrip.Core.Extensions
@using Errordite.Core.Domain.Organisation
@using Errordite.Core.Extensions
@using Errordite.Web.Models.Issues
@using Errordite.Web.Extensions
@model IssueViewModel

@{
    ViewBag.Title = "Issue {0} ({1}) | {2}".FormatWith(Model.Details.IssueId, Model.Tab, Model.Details.Name);
    ViewBag.FinalBreadcrumb = "Issue {0}".FormatWith(Model.Details.IssueId);
}

@section header
{
	<div class="issue-title-container">
		<div class="centered">
			<span class="title">
				@Model.Details.ApplicationName - @Model.Details.Name @(Model.Details.TestIssue ? "(TEST)" : string.Empty)
			</span>
			<span class="details">
				<span id="instance-count" class="bold">
					@Model.Details.ErrorCount
				</span> 
				error@(Model.Details.ErrorCount == 1 ? "" : "s") | First:
				<span class="bold">
					@Model.Details.FirstErrorUtc.ToLocalTimeFormatted()
				</span> | Last:
				<span class="bold">
					@Model.Details.LastErrorUtc.ToLocalTimeFormatted()
				</span>
			</span>
		</div>
	</div>
    <div class="tabs-container">
        <ul id="issue-tabs" class="tabs">
            <li @(Model.Tab == IssueTab.Details ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Details)" class="tablink" data-val="details"><span>Details</span></a> 
            </li>
            <li @(Model.Tab == IssueTab.Actions ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Actions)" class="tablink" data-val="actions"><span>Actions</span></a>
            </li>
            <li @(Model.Tab == IssueTab.History ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.History)" class="tablink" data-val="history"><span>History</span></a>
            </li>
            <li @(Model.Tab == IssueTab.Rules ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Rules)" class="tablink" data-val="rules"><span>Rules</span></a>
            </li>
            <li @(Model.Tab == IssueTab.Reports ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Reports)" class="tablink" data-val="reports"><span>Reports</span></a> 
            </li>
            <li @(Model.Tab == IssueTab.Errors ? " class=active" : " class=inactive") >
                <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Errors)" class="tablink" data-val="errors"><span>Errors</span></a>
            </li>
            @if (Model.Details.ProdProfRecords.Any() && ViewData.GetAppContext().CurrentUser.Role == UserRole.SuperUser)
            {
                <li @(Model.Tab == IssueTab.Debug ? "class=active" : " class=inactive")>
                    <a href="@Url.Issue(Model.Details.IssueId, IssueTab.Debug)" class="tablink" data-val="debug"><span>Debug</span></a>
                </li>
            }
            <li class="button">
                <div id="rules-adjusted" style="display:none">
                    <button id="apply-rule-updates" class="btn btn-small btn-blue tool-tip" data-title="You have made rule changes but not yet saved them. Click here to save.">Apply Rule Updates</button>
                </div>
            </li>
        </ul>
    </div>
}
           
<section id="issue" class="centered">
    <div class="content">
        <div id="details" class="tab @(Model.Tab == IssueTab.Details ? "" : "hidden")">
            @Html.Partial("Details", Model.Details)
        </div>
        <div id="actions" class="tab @(Model.Tab == IssueTab.Actions ? "" : "hidden")">
            @Html.Partial("Actions", Model.Details)
        </div>
        <div id="history" class="tab @(Model.Tab == IssueTab.History ? "" : "hidden")">
            @Html.Partial("History", Model.Details)
        </div>
        @using (Html.BeginForm("adjustRules", "issue", FormMethod.Post, new { id = "rulesForm" }))
        {
            <div id="rules" class="tab @(Model.Tab == IssueTab.Rules ? "" : "hidden")">
                @Html.Partial("Rules", Model.Rules)
            </div>
            @Html.Partial("RuleUpdates", Model.Rules)
        }
        <div id="reports" class="tab @(Model.Tab == IssueTab.Reports ? "" : "hidden")">
            @Html.Partial("Reports", Model.Details)
        </div>
        <div id="errors" class="tab @(Model.Tab == IssueTab.Errors ? "" : "hidden") ajax-container">
            <div id="error-items" data-val="@Model.Details.IssueId">
                @Html.Partial("Errors/ErrorItems", Model.Errors)
            </div>
        </div>
        @if (Model.Details.ProdProfRecords.Any() && ViewData.GetAppContext().CurrentUser.Role == UserRole.SuperUser)
        {
            <div id="debug" class="tab @(Model.Tab == IssueTab.Debug ? "" : "hidden")">
                <ul>
                    @foreach (var record in Model.Details.ProdProfRecords)
                    {
                        <li><a href="/profiler?handler=results&action=resultsdetail&id=@record.RequestId"> @record.TimestampUtc.ToString("yyyy-MM-dd hh:mm:ss"): @record.Url </a></li>
                    }
                </ul>
            </div>
        }
    </div>
</section>

    
