@model Errordite.Web.Models.Issues.UpdateIssueViewModel

<div id="apply-rules-confirmation" class="modal hide">
    <div class="modal-header">
        <h4 class="formodal">Update Issue</h4>
    </div>
    <div class="modal-body">
        <p id="rules-message" style="display:none">
            This update includes changes to the issue's rules. <span id="rules-update-info"></span>
        </p>
        <div class="form wide">
            @Html.HiddenFor(m => m.IssueId)
            <ul>
                <li>
                    @Html.LabelFor(m => m.Name, "Issue Name")
                    @Html.TextBoxFor(m => m.Name)
                    <i data-title="Give this issue a meaningful name to help identify and search for it." class="icon-info"></i>
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li id="rule-name" style="display:none">
                    @Html.LabelFor(m => m.AdjustmentName, "Name of new issue for non-matching errors")
                    @Html.TextBoxFor(m => m.AdjustmentName)
                    <i data-title="The changes you've made to this issue's rules will result in some errors being attached to a new issue. This will be its name." class="icon-info"></i>
                    @Html.ValidationMessageFor(m => m.AdjustmentName)
                </li>
                <li>
                    @Html.LabelFor(m => m.UserId, "Assigned To")
                    @Html.DropDownListFor(m => m.UserId, Model.Users)
                </li>
                <li>
                    @Html.LabelFor(m => m.Status, "Status")
                    @Html.DropDownListFor(m => m.Status, Model.Statuses)
                </li>
                <li>
                    @Html.LabelFor(m => m.Comment, "Add Comment")
                    @Html.TextAreaFor(m => m.Comment)
                </li>
                <li>
                    <div>
                        @Html.LabelFor(m => m.Reference, "External Reference (bug tracker etc)")
                        <span id="reference-link"></span>
                    </div>
                    @Html.TextBoxFor(m => m.Reference)
                    <i data-title="Add a reference to your bug tracking software or source control system, if appropriate" class="icon-info"></i>
                </li>
	            <li>
		            @Html.LabelFor(m => m.Status, "Notification Frequency")
		            @Html.DropDownListFor(m => m.NotifyFrequency, Model.NotificationFrequencies)
		            <i data-title="Select a value here if you want to be notified whenever an instance of this issue is received, we will notify you once within within the selected timeframe if an error has been received." class="icon-info"></i>
	            </li>
            </ul>
        </div>
    </div>             

    <div class="modal-footer">
        <input type="submit" class="btn btn-small btn-blue" value="Apply Updates" name="AdjustRules" />
        <button class="btn btn-small btn-grey" data-dismiss="modal">Cancel</button>
    </div>

</div>
