@using Errordite.Web.Extensions
@using Errordite.Web.Models.Organisation
@using Errordite.Web.Models.Users
@model AddUserViewModel

@{
    ViewBag.Title = "Add User";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Users</h1>
    </div>
    @Html.Partial("Admin/Tabs")
}

@using (Html.BeginForm("add", "users", FormMethod.Post, new { id = "addUserForm" }))
{
    <div class="base left-narrow">
        <h1>Add User</h1>
        <div class="base-content">
            <ul class="errorditeform double-row">
                <li>
                    @Html.LabelFor(m => m.FirstName, "First name")
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName, "Last name")
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email, "Email")
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                <li>
                    <label>Group Membership</label>
                    <div class="custom-select border">
                        <ul>
                            @Html.EditorFor(m => m.Groups)
                        </ul>
                    </div>
                </li>
                <li class="cbox">
                    @Html.CheckBoxFor(m => m.IsAdministrator) @Html.LabelFor(m => m.IsAdministrator, "Make user an administrator?")
                    <i rel="tooltip" title="Only administrators can manage your organisation (managing users, groups and applications)." class="icon-info-sign"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="colfull buttons">
        <input type="submit" class="btn btn-success" value="Add User" />&nbsp;
        <a class="btn" href="@Url.Users()">Cancel</a>
    </div>
}