@model Errordite.Web.Models.Authentication.PasswordViewModel

@{
    ViewBag.Title = "Set Password";
}

<section class="centered">
    <h1><i class="icon-key"></i>New Password</h1>
   <div class="form">
        <p class="boldblue">Enter a value below to set your password</p>
        @using (Html.BeginForm("password", "authentication", FormMethod.Post, new { id = "passwordForm" }))
        {
            @Html.HiddenFor(m => m.Token)
            <ul>
                <li>
                    @Html.LabelFor(m => m.Password, "Password")
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password, "Confirm Password")
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li>
                    <input class="btn btn-medium btn-blue" type="submit" value="Set Password" />
                </li>
            </ul>
        }
    </div>
</section>