@model Errordite.Web.Models.Authentication.PasswordViewModel

@{
    ViewBag.Title = "Set Password";
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

<section class="centered">
    <h1>New Password</h1>
    <div class="base-content">
        <p>Enter a value below to set your password</p>
        @using (Html.BeginForm("password", "authentication", FormMethod.Post, new { id = "passwordForm" }))
        {
            @Html.HiddenFor(m => m.Token)
            <ul class="errorditeform">
                <li>
                    @Html.LabelFor(m => m.Password, "Password")
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password, "Confirm Password")
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li>
                    <input class="btn btn-large btn-blue" type="submit" value="Set Password" />
                </li>
            </ul>
        }
    </div>
</section>