@using Errordite.Web.Extensions
@model Errordite.Web.Models.Authentication.LoginViewModel

@{
    ViewBag.Title = "Sign in";
}

<div class="span12">
    <div class="base centered-narrow">
        <h2>Sign in</h2>
        <div class="base-content">
            <p>Enter your email address and password below.</p>
            @using (Html.BeginForm("signin", "authentication", FormMethod.Post, new {id = "loginForm"})) {
                @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"])
                <ul class="errorditeform">
                    <li>
                        @Html.LabelFor(m => m.Email, "Email")
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password, "Password")
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        <input class="btn btn-success" type="submit" value="Sign in" />
                    </li>
                </ul>
            }
            <br />
            <p>Forgotten your password? <a href="@Url.ResetPassword()">click here to reset it.</a></p>
        </div>
    </div>
</div>