@using Errordite.Core.Caching.Entities
@using Errordite.Core.Domain.Organisation
@using Errordite.Core.Identity
@using Errordite.Web.Extensions
@using Errordite.Web.Models.Navigation

@{
   var appContext = ViewData.GetAppContext();
}

<nav class="main-nav">
    <ul class="nav">
        <li class="nav-item">
            <a href="@Url.Contact()">Contact Us</a>
        </li>
        @if (appContext.AuthenticationStatus != AuthenticationStatus.Authenticated)
        {
	        <li class="nav-item">
		        <a href="@Url.SignIn()">Sign In</a>
	        </li>
	            <li class="nav-item">
		        <a href="@Url.QuickStart()">Getting Started</a>
	        </li>
	        <li class="nav-item">
		        <a href="@Url.About()">About</a>
	        </li>
	            <li class="nav-item">
		        <a href="@Url.Pricing()">Pricing</a>
	        </li>
	            <li class="nav-item">
		        <a href="@Url.Clients()">Clients</a>
	        </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Url.SignOut()">Sign Out</a>
            </li>
        }

		@if (appContext.AuthenticationStatus == AuthenticationStatus.Authenticated)
		{
			<li class="nav-item docs">
				<a href="@Url.QuickStart()">Docs</a>
				<div class="pointer"></div>
				<ul>
					<li><a href="@Url.QuickStart()">Getting Started</a></li>
					<li><a href="@Url.About()">About</a></li>
					<li><a href="@Url.Pricing()">Pricing</a></li>
					<li><a href="@Url.Clients()">Clients</a></li>
				</ul>
			</li>
			<li class="nav-item admin">
				<a href="@Url.Subscription()">Account</a>
				<div class="pointer"></div>
				<ul>
					<li><a href="@Url.Profile()">Edit your Profile</a></li>
					@foreach (var adminPage in Breadcrumbs.GetById(BreadcrumbId.Admin, Url).Children)
					{
						<li><a href="@adminPage.Link">@adminPage.Title</a></li>
					}
				</ul>
			</li>
			<li class="nav-item dashboard">
				<a href="@Url.Dashboard()">Dashboard</a>
				<div class="pointer"></div>
				<ul>
					<li><a href="@Url.Issues()">Issues</a></li>
					<li><a href="@Url.Errors()">Errors</a></li>
					<li><a href="@Url.ActivityLog()">Activity Log</a></li>
					<li><a href="@Url.AddIssue()">Add an Issue</a></li>
				</ul>
			</li>
		}
		@if (appContext.AuthenticationStatus == AuthenticationStatus.Authenticated && (appContext.CurrentUser.Role == UserRole.SuperUser || appContext.Impersonated))
		{
			<li class="nav-item sysadmin">
				<a href="@Url.Organisations()">System</a>
				<div class="pointer"></div>
				<ul>
					<li><a href="@Url.Organisations()">Organisations</a></li> 
					<li><a href="@Url.MessageFailures()">Message Failures</a></li> 
					<li><a href="@Url.StopPolling()">Stop Polling</a></li> 
					<li><a href="@Url.SyncIndexes()">Sync Indexes</a></li> 
					<li><a href="@Url.Impersonate()">Impersonate</a></li> 
					<li><a href="@Url.FlushAllCaches()">Flush Caches</a></li> 
					@foreach (var cache in Enum.GetNames(typeof (CacheProfiles)))
					{
						<li><a href="@Url.Cache(cache)">@cache Cache</a></li>
					}
				</ul>
			</li>
		}
	            
    </ul>
</nav>