@using Errordite.Core.Domain.Organisation
@using Errordite.Core.Identity
@using Errordite.Web
@using Errordite.Web.Extensions
@using System.Linq
@using Errordite.Core.Extensions
@{
   var appContext = ViewData.GetAppContext();
   var activeOrganisation = appContext.CurrentUser.ActiveOrganisation;
}

<div class="welcome-bar-container">
    <div class="welcome-bar">
        
	    <div class="applications">
		    @if (appContext.AuthenticationStatus == AuthenticationStatus.Authenticated)
		    {
			    var applications = ViewData.GetCore().GetApplications().Items;
			    var selectedApplication = applications.FirstOrDefault(a => a.FriendlyId == ViewData.GetSelectedApplication());
			    var selectedApplicationName = selectedApplication == null ? null : selectedApplication.Name;
            
			    <input type="hidden" value="@(selectedApplication == null ? string.Empty : selectedApplication.FriendlyId)" name="ApplicationId" id="ApplicationId" />
			    <input type="hidden" value="@appContext.CurrentUser.ActiveOrganisation.Id" name="OrganisationId" id="OrganisationId" />
				
			    if (appContext.CurrentUser.Organisations.Count > 1)
			    {
				    <ul class="popup popup-pills">
					    <li class="dropdown" id="organisations">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#organisations">
							    @appContext.CurrentUser.ActiveOrganisation.Name
							    <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
							    @foreach (var organisation in appContext.CurrentUser.Organisations)
							    {
								    <li>
									    <a href="@Url.CurrentRequest("{0}={1}".FormatWith(WebConstants.RouteValues.SetOrganisation, organisation.FriendlyId))">@organisation.Name</a>
								    </li>
							    }
						    </ul>
					    </li>
				    </ul>
			    }
			    else
			    {
				    <span class="header-org">@appContext.CurrentUser.ActiveOrganisation.Name</span>
			    }
                 
			    if (applications.Count > 1)
			    {
				    <ul class="popup popup-pills" style="margin-left:5px">
					    <li class="dropdown" id="applications">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#applications">
							    @if (selectedApplicationName.IsNullOrEmpty())
							    {
								    @: All Applications (@applications.Count())
							    }
							    else
							    {
								    @selectedApplicationName
							    }
							    <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
							    <li>
								    <a href="@Url.CurrentRequest("{0}=-1".FormatWith(WebConstants.RouteValues.SetApplication))">All Applications (@applications.Count())</a>
							    </li>
							    @foreach (var application in applications)
							    {
								    <li>
									    <a href="@Url.CurrentRequest("{0}={1}".FormatWith(WebConstants.RouteValues.SetApplication, application.FriendlyId))">@application.Name</a>
								    </li>
							    }
						    </ul>
					    </li>
				    </ul>
			    }
		    }
	    </div>
	    @(appContext.IsMobileDevice ? Html.Partial("MobileNav") : Html.Partial("DesktopNav"))
    </div>
</div>
<div class="header-container @(activeOrganisation != null && activeOrganisation.Status == OrganisationStatus.PlanQuotaExceeded ? "tall" : "")">
    <div class="header">
        <div class="logo">
            <a href="@Url.Home(ViewData.GetAppContext())"><img alt="Errordite: Home" src="@Url.Content("~/Assets/Images/header-logo.png")"/></a>
        </div>
	    <div class="search">
		    @using (Html.BeginForm("index", "search", FormMethod.Get))
		    {
			    <div class="search-box" data-title="@(appContext.AuthenticationStatus != AuthenticationStatus.Authenticated ? "Please sign in to enable search" : string.Empty)">
				    <i class="icon-search"></i>
				    <input autocomplete="off" class="search-input" id="q" name="q" placeholder="Search your errors & issues..." type="text"  @(appContext.AuthenticationStatus != AuthenticationStatus.Authenticated ? "disabled=disabled" : string.Empty) />
				    <input type="submit" class="search-btn" value="Go" @(appContext.AuthenticationStatus != AuthenticationStatus.Authenticated ? "disabled=disabled" : string.Empty) />
			    </div>
		    }
	    </div>
		@if (appContext.AuthenticationStatus == AuthenticationStatus.Anonymous && Request.Url != null && !Request.Url.AbsolutePath.IsIn(Url.Home(), Url.SignUp()))
		{
			<div class="pull-right" style="margin-top:17px">
				<a href="@Url.SignUp()" class="btn btn-pink btn-small">Sign Up For Free</a>
			</div>
		}
        
    </div>
</div>