<!DOCTYPE html>

<html dir="ltr" lang="en-GB">
<head>

	<title>@ViewBag.Title | Errordite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @RenderSection("css", required: false) 
    @Html.Partial("css")
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32739151-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
    <div id="head">
        @Html.Partial("header")
    </div>

    <div id="body">
            
        <div class="head">
            @Html.Partial("notifications")
            @Html.Partial("breadcrumb")
            @RenderSection("contentHeader", required: false) 
        </div>

        <div class="content">
            <div class="row-margin">
                <div class="row-fluid">
                    @RenderBody()
                </div>
            </div>
            <div class="spinner"></div>
        </div>
        
        <div class="push"></div>
    </div>

    <div id="footer">
        @Html.Partial("footer")
    </div>

    @Html.Partial("js")
    @RenderSection("scripts", required: false) 
</body>
</html>