@using Errordite.Web.Extensions

<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="Errordite receives all your application exceptions and groups together those that are the same - automatically or with rules you define. You then decide how to progress the errors. You can fix them, ignore them, or wait and see how often the error occurs." name="description" />
        <meta name="viewport" content="width=device-width">
        <title>@ViewBag.Title | Errordite</title>
        @Html.Partial("headerassets")
        @RenderSection("headerassets", required: false) 
    </head>
    <body>
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="wrapper">
            <header>
                @Html.Partial("header")
                @Html.Partial("breadcrumbs")
                @RenderSection("header", required: false) 
            </header>
        
            @RenderBody()

            <div class="push"></div>
        </div>
        <footer>
            <div class="footer">
                <span>&copy;@DateTime.UtcNow.Year Code Trip Ltd All rights reserved.</span>
                <nav>
                    <a href="@Url.Privacy()">Privacy</a>&nbsp;|&nbsp;
                    <a href="@Url.Contact()">Contact</a>                    
                </nav>
            </div>
        </footer>
        
        @Html.Partial("footerassets")
        @RenderSection("footerassets", required: false) 
    </body>
</html>
