@using Errordite.Web.Extensions
@using Errordite.Web.Models.Groups
@using Errordite.Web.Models.Organisation
@model AddGroupViewModel

@{
    ViewBag.Title = "Add Group";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Groups</h1>
    </div>
    @Html.Partial("Organisation/Tabs", OrganisationTab.Groups)
}

@using (Html.BeginForm("add", "groups", FormMethod.Post, new { id = "addGroupForm" }))
{
    <div class="base left-narrow">
        <h1>Add Group</h1>
        <div class="base-content">
            <ul class="errorditeform double-row">
                <li>
                    @Html.LabelFor(m => m.Name, "Name")
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    <label>Group Members</label>
                    <div class="custom-select border">
                        <ul>
                            @Html.EditorFor(m => m.Users)
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="colfull buttons">
        <input class="btn btn-success" type="submit" value="Add Group" />
        <a class="btn" href="@Url.Groups()">Cancel</a>
    </div>
}