@using Errordite.Web.Extensions
@using Errordite.Web.Models.Groups
@model EditGroupViewModel

@{
    ViewBag.Title = "Edit Group";
}

@section header
{
    @Html.Partial("Admin/Tabs")
}

<section class="centered">
    <div class="content">
        @using (Html.BeginForm("edit", "groups", FormMethod.Post, new {id = "editGroupForm"}))
        {
            @Html.HiddenFor(m => m.Id)
            <h1 class="section-header border">Edit Group</h1>
            <div class="form">
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Name, "Name")
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </li>
                    <li class="sublist">
                        <label>Group Members</label>
                        <ul>
                            @Html.EditorFor(m => m.Users)
                        </ul>
                    </li>
                    <li class="buttons">
                        <input class="btn btn-medium btn-blue" type="submit" value="Save" />
                        <a href="@Url.Groups()" class="btn btn-grey btn-medium">Cancel</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</section>