
@using Errordite.Web.Extensions
@using Errordite.Web.Models.Groups
@using Errordite.Web.Models.Organisation
@model GroupsViewModel
           
@{
    ViewBag.Title = "Groups";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Groups</h1>
    </div>
    @Html.Partial("Admin/Tabs")
}

<div id="groups" class="colfull">
    <p>Groups are used to determine who receives email notifications for your applications. <a href="@Url.AddGroup()">Click here to add a new group</a></p>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Users</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr> 
        </thead>      
        <tbody>
            @foreach (var group in Model.Groups)
            {
                using (Html.BeginForm("delete", "groups", new { groupId = group.Id }, FormMethod.Post))
                {
                    <tr>  
                        <td style="width:75%">@group.Name</td>
                        <td>
                            <a href="@Url.Users(group.Id)">Users</a>
                        </td>  
                        <td>
                            <a href="@Url.EditGroup(group.Id)">Edit</a>
                        </td>  
                        <td>
                            <a class="delete" href="#">Delete</a>
                        </td>             
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    @Html.Partial("Pagination", Model.Paging)
                </td>
            </tr>
        </tfoot>
    </table>
</div>

