
@using Errordite.Web.Extensions
@using Errordite.Web.Models.Groups
@model GroupsViewModel
           
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section id="groups" class="centered">
    <h1>Groups</h1>
    <p>Groups are used to determine who receives email notifications for your applications. <a href="@Url.AddGroup()">Click here to add a new group</a></p>
    
    @using (Html.BeginForm("delete", "groups", FormMethod.Post, new {id = "deleteForm"}))
    {
        @Html.Hidden("GroupId");
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Users</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr> 
        </thead>      
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>  
                    <td style="width:75%">@group.Name</td>
                    <td>
                        <a href="@Url.Users(group.Id)">Users</a>
                    </td>  
                    <td>
                        <a href="@Url.EditGroup(group.Id)">Edit</a>
                    </td>  
                    <td>
                        <a class="delete" data-val="@group.Id" href="#">Delete</a>
                    </td>             
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    @Html.Partial("Pagination", Model.Paging)
                </td>
            </tr>
        </tfoot>
    </table>
</section>

