@using Errordite.Web.Extensions

@{
    ViewBag.Title = "Home"; 
}

<div class="dark-container">
    <section class="centered">
        <h1 class="superlarge">
            Making sense of your exception logs <a href="@Url.SignUp()">Try Errordite for <span>free</span></a>
        </h1>
    </section> 
</div>
<div class="blue-container">
    <section class="centered">
        <div class="howitworks">
            <p><span>Errordite</span> receives all your application exceptions and groups together those that are the same - automatically or with rules you define. You then decide how to progress the errors. You can fix them, ignore them, or wait and see how often the error occurs.</p>
            <p class="heading">How it works...</p>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/settings.png")" alt="Configure Errordite" /><br />
                <div class="blurb">
                    <span class="item">1. </span>
                    <span class="heading">Simply configure your application to use the Errordite client...</span><br />
                    <span class="shortdesc">Short description here</span>
                </div>
            </div>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/waiterrors.png")" alt="Wait for errors" /><br />
                <div class="blurb">
                    <span class="item">2. </span>
                    <span class="heading">Wait for errors to come in - you'll be alerted online and via email...</span><br />
                    <span class="shortdesc">But it's <span>smart</span> - you wont be swamped</span>
                </div>
            </div>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/counter.png")" alt="Errors are intelligently grouped" /><br />
                <div class="blurb">
                    <span class="item">3. </span>
                    <span class="heading">Errordite will then group the errors intelligently into seperate issues...</span><br />
                    <span class="shortdesc">Short description here</span>
                </div>
            </div>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/people.png")" alt="User assignment" /><br />
                <div class="blurb">
                    <span class="item">4. </span>
                    <span class="heading">You can then assign the issues to your own development team...</span><br />
                    <span class="shortdesc">eg. dan loves to fix <span>these types</span></span>
                </div>
            </div>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/check.png")" alt="Issue workflow" /><br />
                <div class="blurb">
                    <span class="item">5. </span>
                    <span class="heading">Once you're done, mark your issues as solved...</span><br />
                    <span class="shortdesc">Short description here</span>
                </div>
            </div>
            <div class="two-col">
                <img src="@Url.Content("~/assets/images/errordite.png")" alt="Other features" /><br />
                <div class="blurb">
                    <span class="item">6. </span>
                    <span class="heading">Also... reports, user-defined rules and alerts, HipChat integration, fast search and much more!</span><br />
                    <span class="shortdesc">Short description here</span>
                </div>
            </div>
        </div>
    </section> 
</div>
 <div class="white-container">
     <section class="centered">
         <div class="home-footer">
             <p class="">Errordite is currently running an open beta, so please jump in and start making sense of your exception logs.</p>
             <a class="btn btn-large btn-blue" href="@Url.SignUp()">Sign Up</a>
         </div>
     </section> 
</div>

