@using Errordite.Web.Extensions
@using Errordite.Web.Models.Organisation
@model OrganisationTab

<div class="clear"></div>          
<ul class="nav nav-tabs">
    <li @(Model == OrganisationTab.Home ? " class=active" : "class=inactive") >
        <a href="@Url.Organisation()"><span>Home</span></a> 
    </li>
    <li @(Model == OrganisationTab.Settings ? " class=active" : "class=inactive") >
        <a href="@Url.Settings()"><span>Settings</span></a>
    </li>
    <li @(Model == OrganisationTab.Billing ? " class=active" : "class=inactive") >
        <a href="@Url.Billing()"><span>Billing</span></a>
    </li>
    <li @(Model == OrganisationTab.Applications ? " class=active" : "class=inactive") >
        <a href="@Url.Applications()"><span>Applications</span></a> 
    </li>
    <li @(Model == OrganisationTab.Users ? " class=active" : "class=inactive") >
        <a href="@Url.Users()"><span>Users</span></a>
    </li>
    <li @(Model == OrganisationTab.Groups ? " class=active" : "class=inactive") >
        <a href="@Url.Groups()"><span>Groups</span></a>
    </li>
</ul>