@using Errordite.Web.Models.Organisation
@using Errordite.Web.Extensions
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Payment Plan";
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section class="centered">
    <h1>Available Payment Plans</h1>
    <p>
        While Errordite is in its free beta, all users will be on the free Trial plan, equivalent in size to the Small plan. If you feel your needs would not be met by the plans or prices 
        below, please <a href="@Url.Contact()">let us know</a>.
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Monthly Cost (USD)</th>
                <th>Users</th>
                <th>Applications</th>
                <th>Issues</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var plan in Model.Plans)
            {
                <tr @(plan.CurrentPlan ? "class=current-plan" : "")>
                    <td>@plan.Plan.Name</td>
                    <td>
                        @(plan.Plan.IsTrial ? "-" : string.Format("${0:0}", plan.Plan.Price))
                    </td>
                    <td>@(plan.Plan.MaximumUsers.ToString())</td>
                    <td>@(plan.Plan.MaximumApplications.ToString())</td>
                    <td>@(plan.Plan.MaximumIssues.ToString())</td>
                    <td>
                        @if(plan.Upgrade)
                        {
                            @*<a href="@Url.Upgrade()" class="btn btn-success">Upgrade</a>*@
                        }
                        @if (@plan.Downgrade)
                        {
                            @*<a href="@Url.Upgrade()" class="btn btn-warning">Downgrade</a>*@
                        }
                        @if(plan.CurrentPlan)
                        {
                            <span>Current Plan</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


