
@using Errordite.Core.Domain.Organisation
@using Errordite.Web.Areas.Admin.Models.Organisations
@using Errordite.Web.Extensions
@using System.Web.Mvc.Html
@model Errordite.Web.Models.Organisation.OrganisationsViewModel
                   
@{
    ViewBag.Title = "Organisations";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Organisations</h1>
    </div>
    
    <div class="border"></div>
}

@section scripts
{
    <script type='text/javascript' src='@Url.Content("~/js/admin/organisations.js")'></script>
}

<div id="organisations" class="colfull">

    @if (Model.Organisations != null && Model.Organisations.Items.Any())
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Payment Plan Id</th>
                    <th>Status</th>  
                    <th>Timezone</th>      
                    <th>Created On Utc</th>   
                    <th>Users</th>   
                    <th>Applications</th>  
                    <th>Suspend / Activate</th> 
                    <th>Delete</th> 
                </tr>  
            </thead>
            <tbody>
                @foreach (var organisation in Model.Organisations.Items)
                {
                    <tr>  
                        <td>@organisation.FriendlyId</td>
                        <td>@organisation.Name</td>
                        <td>@organisation.PaymentPlanId</td>
                        <td>@organisation.Status</td>
                        <td>@organisation.TimezoneId</td>
                        <td>@organisation.CreatedOnUtc</td>
                        <td><a href="@Url.OrganisationUsers(organisation.FriendlyId)">Users</a></td>
                        <td><a href="@Url.OrganisationApplications(organisation.FriendlyId)">Applications</a></td>
                        @if(organisation.Status == OrganisationStatus.Active)
                        {
                            <td><a href="#" class="btn btn-danger suspend" data-val="@organisation.Id">Suspend</a></td>
                        }
                        else
                        {
                            <td>
                                @using (Html.BeginForm("activateorganisation", "organisations", FormMethod.Post, new { name = "activateForm" }))
                                {
                                    @Html.Hidden("OrganisationId", organisation.Id)
                                    <input type="submit" class="btn btn-success activate" value="Activate" />
                                }
                            </td>
                        }
                        <td>
                            @using (Html.BeginForm("deleteorganisation", "organisations", FormMethod.Post, new { name = "deleteForm" }))
                            {
                                @Html.Hidden("OrganisationId", organisation.Id)
                                <input type="submit" class="btn btn-danger delete" value="Delete" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @Html.Partial("Pagination", Model.Paging)
                    </td>
                </tr>
            </tfoot>
        </table>
        @Html.Partial("Organisations/SuspendModal", new SuspendOrganisationViewModel())
    }
    else
    {
        <div>
            <p>No organisations were found.</p>   
        </div> 
    }
</div>